body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  font-size: 14px;
}

li + li {
  padding-top: 8px;
}

.todo__input {
  display: flex;
}

.todo__input input {
  border: 1px solid #d1d5db;
  padding: 6px 8px;
  outline: none;
  border-radius: 0.3em;
}

.todo__input-button {
  color: rgb(44, 62, 80);
  margin-left: 8px;
}
